/* 666 Hail Satan */
body {
font-family: Helvetica, sans-serif;
font-weight: 400;
font-size: 20px;
letter-spacing: 0.010em;
line-height: 25px;
word-spacing: 0px;
color: black;
background: gray;

margin-left: 0;
padding: 0;}

.container {
margin: 1em;
width: auto;}

/*Desktop*/
@media (min-width: 415px) {
  body {
  font-size: 52px;
  line-height: 56px;}

  .container {width: 90%;}
}

p {
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;}

p + p {
text-indent: 1.5em !important;
margin-top: 0 !important;}

ul {
  padding: 0 0 0 28px;
  margin: 0;}

marquee {
  padding: 0;
  margin: .75em 0 0 0 ;}

.footer {
  margin: 1em 0 0 0;
  border-top: 2px solid black;}

a:link {
color:black;
text-decoration: underline;}

a:visited {
color:black;
text-decoration: none;}

a:hover {
color:black;
text-decoration: none;}

a:active {
color:black;
text-decoration: underline;}

img {
margin: .25em 0 .25em 0;
max-width: 800px !important;
width:100%;}

#me1, #me2, #me3, #me4, #me5, #me6, #me7, #me8, #me9, #me10, #me11{
cursor: e-resize; }
